# OS
.DS_Store


# Nextflow
.nextflow*
work/


# Data & outputs (reproducible)
*/results/
!*/results/*.png
!*/results/*.tsv
!*/results/*.txt
*/figures/
*/data/

# Large genomics files
*.bam
*.vcf.gz
*.tbi
*.fa
*.fa.gz
*.bai
*.csi

# Reports / rendered outputs
*.html
.ipynb_checkpoints/


# Python
__pycache__/


# Local / temporary
.Rhistory